/*Not adding anything in here yet*/

/* Google font */
.didact-gothic {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*  Changing margins and background */

.flex-list {
  display: flex;
  gap: 20px; /* Needed to keep list spaced */
  /* flex-wrap: wrap;  Works better than media stuff */
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.flex-list a {
  color: Black;
  text-decoration: none;
}

.sections-sideways {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;  /* I love this */
}

.paragraph-list p {
  max-width: 300px;
  margin: 8px;
}

.paragraph-header {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  /* height: 50vh; Not good. This made box static and didn't move*/
  text-align: center;
}

.paragraph-header p {
  max-width: 900px; /* limiting width */
}

.cover {
background-image: url(https://external-preview.redd.it/c3im0hKSR4HPOzVZ4PLABa06EyB_2trLsZWg0vEuYoo.jpg?width=1080&crop=smart&auto=webp&s=6f503c6082ed46db77657a586c88f8d54b732ca2);
background-size: cover;
}

/* Given */
body {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column; /* Stack the header above the content */
  align-items: center;
  justify-content: start;
  color: #f5f5f5;
  padding: 20px;
  margin: 10px;
}

/*  Changing fonts */
header {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
  color: #222;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

p {
  font-size: 18px;
  max-width: 300px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #f5f5f5;
}


/* Secondary headings (h2) = Garamond */
h2 {
  font-family: 'Didact Gothic', sans-serif;
}

/* Unordered list items = Courier New */
ul li {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mobile {
  display: none;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
  color: Black;
  text-decoration: none;
}

.mobile ul {
  list-style-type: none;
}

.mobile li {
  margin: 10px;
}

.mobile a {
  color: black;
  text-decoration: none;
}

/* For Resizing. But mine already re sizes pretty well. */
@media only screen and (max-width: 720px) {
  nav.desktop {
      display: none;
    }
  
  nav.mobile {
      display: flex;
  }
}